.pagination {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid pink;
}

.box {
    float: left;
    margin: 2px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    /* background: rgb(221, 253, 253); */
    border: 0.5px solid rgba(231, 230, 230, 0.452);
}