<div class="inpdiv">
    <input type="number" [(ngModel)]="objectPerPage"  (input)="check(objectPerPage)"> &nbsp;: per page
    <!-- <div *ngIf="objectPerPage<=0 && objectPerPage>99; then objectPerPage=2"></div> -->
</div>
<br>
<br>
<br>
<ul *ngFor="let data of postsListOnCurrentPage">
    <li>
        <a>{{data.id}}. {{data.title}}</a> <br>
        {{data.body}}
        <br>
    </li>
</ul>

<div class="box" (click)="changePage(currentPage - 1, objectPerPage)">Prev</div>
<div class="numberPage"> {{currentPage}} </div>
<div class="box" (click)="changePage(currentPage + 1, objectPerPage)">Next</div>
