<div class="inpdiv">
    <input type="number" [(ngModel)]="objectPerPage" min="1" max="99" value="2" (input)="check(objectPerPage)"> &nbsp;: per page
</div>
<br>
<br>
<br>
<ul *ngFor="let data of postsListOnCurrentPage">
    <li>
        <a>{{data.id}}. {{data.title}}</a> <br>
        {{data.body}}
        <br>
    </li>
</ul>


 <div class="box" (click)="changePage(currentPage - 1, objectPerPage)">Prev</div>
 <div class="numberPage"> {{currentPage}} </div>
 <div class="box" (click)="changePage(currentPage + 1, objectPerPage)">Next</div>